.login_page_container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login_button {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.login_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_bottom{
    color: black;
    display: flex;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.oath{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 800px;
}

.oath_elem {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.login_header{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.login_top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.image_logo{
    width: 180px;
    margin-bottom: 20px;
}
